.jumbotron {
  height: 100vh;
  padding-top: 300px;
  background-image: url(coco.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.jumbotron > .contents {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: rgba(52, 67, 99, 0.836);
}
